body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.nav {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}

.nav .title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.info {
    text-align: center;
    margin-bottom: 20px;
}

.language {
    text-align: center;
    margin-bottom: 20px;
}

.lang-selector {
    padding: 8px 16px;
    font-size: 16px;
}

.text-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.text-input,
.text-output {
    width: calc(50% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.actions {
    text-align: center;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}

.footer {
    text-align: center;
    color: #666;
    font-size: 14px;
}
.text-input,
.text-output {
    width: calc(50% - 10px);
    height: 200px; /* Set the height to 300px */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
	font-size: 18px;
}
.speaker-btn {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 5px;
    vertical-align: middle;
}

.speaker-btn:hover {
    color: #4CAF50; /* Change color on hover */
}
